

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color:brown; 
    color: white; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); 
}

.header h1 {
    margin: 0;
    font-size: 2rem; /* Larger font size for the title */
}
.header span{
    background-color: red;
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color:brown; 
    border-radius: 25px; 
    cursor: pointer; 
}
.button span{
    border-radius: 10px;
    padding:5px 10px ;
    justify-content: center;
}

.cart span {
    font-size: 1.2rem; 
}
.header-contents{
    
    text-align: center; 
    background-color:black; 
    border-radius: 10px; 
    max-width: fit-content;
    margin-top: 30%;
    margin-left: 10%;

}
.header-contents h1{
    font-size: 3rem; 
    color: white; 
    margin-bottom: 20px;
    font-weight: bold; 
}
.header-contents p{
    font-size: 1.2rem; 
    color:white;
    line-height: 1.6; 
    margin-bottom: 20px; 
}